.img{
    width:400px;
    border-radius: 10px
}
.name{
    font-size: 30px;
    font-weight: bold
}
.desc{
    font-size: 15px;
    font-weight: 500
}
.calendar{
    width: 1000px;
    margin-top: 20px
}
.custom-calendar-guide {
    width: 270px;
    border: 1px solid #C4C6CF;
    border-radius: 3px;
    overflow: hidden;
    margin-top: 20px;
}

.custom-calendar-cell-content {
    height: 50px;
    text-align: left;
}

.event-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.primary-event {
    color: white;
    background: red;
    border-radius: 3px;
    padding-left: 10px;
    margin-bottom: 3px;
}

.normal-event {
    color: white;
    background: blue;
    border-radius: 3px;
    padding-left: 10px;
    margin-bottom: 3px;
}