.card{
    width:310px;
    padding: 10px;
    background-color: #FFF;
    cursor: pointer;
    border-radius: 10px;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.img{
    width: 290px;
    border-radius: 10px;
}
.title{
    margin-top: 10px;
    font-size: 20px;
    line-height: 34px;
    color: #000;
}
.score{
    color: #00afc7;
    font-size: 20px;
}
.location{
    font-size: 10px;
    font-weight: 200;
}
.price{
    font-size: 15px;
    color: #ff714a;
    position: relative;
    right: 10px;
}
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tag{
    margin:5px
}